.App {
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: black;
  color: #fff;
  height: 100vh;
  font-family: 'Bricolage Grotesque', sans-serif;
}
.score{
  font-size: 1.5rem;
  width: 40%;
}
.score > p{
  display: inline-block;
  margin-left: 30px;
}
.score-board{
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
h1{
  font-family: 'Handjet', cursive;
  font-size: 3rem;
}
